<?xml version="1.0"?>

<launch>

<group ns = "turtlesim1">
<node name = 'turtle_motion_square' pkg = "day_1" type = "turtle_motion_square.py"></node>
<node pkg="turtlesim" type="turtlesim_node" name="node_turtlesim_square">
        <param name="/turtlesim_node/background_r" value="34" />
        <param name="/turtlesim_node/background_g" value="139" />
        <param name="/turtlesim_node/background_b" value="34" />
        <param name="/background_r" value="34" />
        <param name="/background_g" value="139" />
        <param name="/background_b" value="34" />
    </node>
</group>

<group ns = "turtlesim2">
<node name = 'turtle_motion_rectangle' pkg = "day_1" type = "turtle_motion_rectangle.py"></node>
<node pkg="turtlesim" type="turtlesim_node" name="node_turtlesim_rectangle">
        <param name="/turtlesim_node/background_r" value="34" />
        <param name="/turtlesim_node/background_g" value="139" />
        <param name="/turtlesim_node/background_b" value="34" />
        <param name="/background_r" value="34" />
        <param name="/background_g" value="139" />
        <param name="/background_b" value="34" />
    </node>
</group>

<group ns = "turtlesim3">
<node name = 'turtle_motion_triangle' pkg = "day_1" type = "turtle_motion_triangle.py"></node>
<node pkg="turtlesim" type="turtlesim_node" name="node_turtlesim_triangle">
        <param name="/turtlesim_node/background_r" value="34" />
        <param name="/turtlesim_node/background_g" value="139" />
        <param name="/turtlesim_node/background_b" value="34" />
        <param name="/background_r" value="34" />
        <param name="/background_g" value="139" />
        <param name="/background_b" value="34" />
    </node>
</group>

<group ns = "turtlesim4">
<node name = 'turtle_motion_star' pkg = "day_1" type = "turtle_motion_star.py"></node>
<node pkg="turtlesim" type="turtlesim_node" name="node_turtlesim_star">
        <param name="/turtlesim_node/background_r" value="34" />
        <param name="/turtlesim_node/background_g" value="139" />
        <param name="/turtlesim_node/background_b" value="34" />
        <param name="/background_r" value="34" />
        <param name="/background_g" value="139" />
        <param name="/background_b" value="34" />
    </node>
</group>
</launch>

